<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuan.mapper.ResourcePathMapper" >
    <select id="listAllClassifys" resultType="java.lang.String">
        select DISTINCT classify
        FROM resource_path
        WHERE  deleted = 0
        and classify is not null
    </select>
</mapper>